<div class="dialog-container">
    <div class="dialog-header text-center text-white ">
        <h3 class="mb-0">Add new Address</h3>
        <button (click)="close()" class="close"><i class="bi bi-x-lg"></i></button>
    </div>


    <div class="form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="input-card">
                    <label>First Name</label>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Enter Your First name">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-card">
                    <label>Last Name</label>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Enter Your Last name">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-card">
                    <label>Country</label>
                    <mat-form-field appearance="fill">
                        <mat-select placeholder="Select Country" >
                            <mat-option value="Indian"> Indian</mat-option>
                            <mat-option value="NRI" >USA</mat-option>
                            <mat-option value="NRI" >UK</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-card">
                    <label>State</label>
                    <mat-form-field appearance="fill">
                        <mat-select placeholder="Select State" >
                            <mat-option value="Indian"> Indian</mat-option>
                            <mat-option value="NRI" >USA</mat-option>
                            <mat-option value="NRI" >UK</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="col-md-6">
                <div class="input-card">
                    <label>City</label>
                    <mat-form-field appearance="fill">
                        <mat-select placeholder="Enter City" >
                            <mat-option value="Indian"> City</mat-option>
                            <mat-option value="NRI" >USA</mat-option>
                            <mat-option value="NRI" >UK</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-card">
                    <label>Pincode</label>
                    <mat-form-field appearance="fill">
                        <mat-select placeholder="Enetr Pincode" >
                            <mat-option value="Indian"> City</mat-option>
                            <mat-option value="NRI" >USA</mat-option>
                            <mat-option value="NRI" >UK</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>
            </div>




            <div class="col-md-6">
                <div class="input-card">
                    <label>Phone number</label>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Enter Number">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-card">
                    <label>Emergency Number</label>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Emergency Number">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12">
                <div class="input-card">
                    <label>Address</label>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Enter your Address">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>




    <div class="dialog-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button mat-button>Save Address</button>
                </div>
            </div>
        </div>
    </div>

</div>