<div class="assistdialog">
    <button (click)="close()" class="close"><i class="bi bi-x-lg"></i></button>
    <!-- <div class="row justify-content-center"> -->
        <div class="d-flex justify-content-between">
            <div class="assistdialogsub d-flex flex-column justify-content-center ">
                <h3 class="mb-0">Your Zetexa</h3>
                <h3 class="mb-0">Account Manager</h3>
                <div class="d-flex my-3">
                    <i class="bi bi-telephone-inbound"></i>
                    <a href="tel" class="assist-a">+91 8833221122</a>
                </div>
                <div class="d-flex mt-3 mb-4">
                    <i class="bi bi-envelope"></i>
                    <a href="mailto" class="assist-a">Will&#64;zetexa.com</a>
                </div>
                <button class="requestbutton">Request a call back</button>
                <div class="line"></div>
                <p>By Requesting a call back</p>
                <p class="mt-0">You will get a call from our Manager in 1 working day</p>
            </div>
            <div class="img">
                <img src="assets/img/assist-manager-img.png" alt="">
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="img">
                <img src="assets/img/assist-manager-img.png" alt="">
            </div>
        </div> -->
    <!-- </div> -->
</div>