<div class="inventory-assign-confirm-modal">
    <div class="dialog-header text-center text-white ">
        <button (click)="close()" class="close"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="dialog-body">
        <h4>User details Confirmation</h4>
        <p>Assigned user will be emailed all the details of the sim you purchase.</p>

        <ul>
            <li>
                <p>Name: <span>rajesh</span></p>
            </li>
            <li>
                <p>Email Id: <span>rajesh@gmail.com</span></p>
            </li>
            <li>
                <p>Phone Number: <span>+91 7904232865</span></p>
            </li>
        </ul>
    </div>
    <div class="dialog-footer">
        <button (click)="proceedPayment()">Confirm</button>
    </div>
</div>