<div class="inventory-assign-modal">

    <div class="zet-toolbar pt-5 pb-3 py-lg-6">
        <div class="container container-xxl">
            <div class="zet-toolbar-wrapper d-flex justify-content-between align-items-center">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <h5 class="mb-0 fw-medium fs-4">Assign to Customers</h5>
                    <p>500+ Active users</p>
                </div>

                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <div class="search-form">
                        <div class="form-group has-search">
                            <span class="form-control-feedback"><i class="bi bi-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>

                    <div class="page-buttons ">
                        <button (click)="add()" mat-button><span class="material-symbols-outlined">
                                add
                            </span>Add New User</button>
                    </div>
                </div>

            </div>

            <div class="assign-dialog-content">
                <div class="assing-custmor-card" *ngFor="let customer of inventoryCustomers">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="customer-info d-flex">
                                <div class="customer-image">
                                    <img src={{customer.customerImg}} alt="">
                                </div>
                                <div class="customer-name">
                                    <h6>{{customer.customerName}} <span><i class="bi bi-patch-check-fill"></i> KYC
                                            Verified </span></h6>
                                    <p>ID: {{customer.orderID}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="contact-info">
                                        <p><i class="bi bi-envelope"></i> {{customer.email}}</p>
                                        <p><i class="bi bi-telephone"></i> {{customer.phone}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-info d-flex">
                                        <div class="img">
                                            <img src={{customer.countryFlag}} alt="">
                                        </div>
                                        <div class="country-name">
                                            <p>{{customer.countryName}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="assign-btn d-flex justify-content-end">
                                        <button mat-button (click)="confirmDialoge()">Assign <i
                                                class="bi bi-check2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>