<div class="dialog-container">
    <div class="dialog-header text-center text-white ">
        <h3 class="mb-0">Select your Bank</h3>
        <button (click)="close()" class="close"><i class="bi bi-x-lg"></i></button>
    </div>


    <div class="select-banks">
        <ul class="d-flex justify-content-between">
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/hdfc.png" alt="">
                </div>
                <div class="bank-name">
                    <p>HDFC</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/sbi.png" alt="">
                </div>
                <div class="bank-name">
                    <p>SBI</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/icici.png" alt="">
                </div>
                <div class="bank-name">
                    <p>ICICI</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/axis.png" alt="">
                </div>
                <div class="bank-name">
                    <p>AXIS</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/kotak.png" alt="">
                </div>
                <div class="bank-name">
                    <p>Kotak</p>
                </div>
            </li>
        </ul>

        <ul class="d-flex justify-content-between">
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/airtel.png" alt="">
                </div>
                <div class="bank-name">
                    <p>Airtel</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/canara.png" alt="">
                </div>
                <div class="bank-name">
                    <p>Canara</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/punjb.png" alt="">
                </div>
                <div class="bank-name">
                    <p>PNB</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/barath.png" alt="">
                </div>
                <div class="bank-name">
                    <p>Bharat Bank</p>
                </div>
            </li>
            <li>
                <div class="bank-logo middle">
                    <img src="assets/img/bom.png" alt="">
                </div>
                <div class="bank-name">
                    <p>BOM</p>
                </div>
            </li>
        </ul>
        <div class="view-all-btn text-center">
            <button mat-button>View All Banks</button>
        </div>
    </div>
   

    <div class="dialog-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center pay-button">
                    <button mat-button>Pay $250</button>
                </div>
            </div>
        </div>
    </div>
</div>